.row
  .small-12.columns.centered
    %h2 CrossFit Box Business Name Generator
  %hr
.row
  .large-6.columns
    %p Using the Big Thesaurus I built the CrossFit name generator below.

    %p
      Simply input a "starting word" for your CrossFit box business name. Use words like
      %b angry, fierce, strong,
      etc.

    %p Click "Generate Names" and a list of possible CrossFit box names will be generated.

    %p The "CrossFit Name Generator" is a service of Boost Fitness Marketing, the creators of FitnessTexter, the text message marketing service used by over 300 fitness businesses to increase their membership volume.
  .large-6.columns
    %h4 How It Works
    %p
      1. Input word is sent to Big Thesaurus API via a Rails AJAX request using the 'net/http' library
      %br
      2. Big Thesaurus looks up word, and if it exists, it sends back a JSON file with synonyms, antonyms, etc
      %br
      3. JSON file is parsed for just the synonyms hash
      %br
      4. Hash is set as an instance variable
      %br
      5. Iterate over the instance variable of synonyms, prepending the word "CrossFit" to each.
    %hr
