.section
  %img.homepage-image.absolute(src="https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad")
.section
  .row.push-down
    .small-12.columns.centered
      %h2.homepage-title
        .thick-title
          VocabTexter
        .thin-title
          | Learn More Words & Expand Your Horizons
  .row
    .small-12.small-centered.columns.centered
      .button.alert
        Get Started Today!
