.section
  %img.homepage-image.absolute(src="https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad")
.section
  .row.push-down
    .small-12.small-centered.columns.homepage-info
      VocabTexter | Learn More Words, Expand Your Horizons
  .row
    .small-4.small-centered.columns
      .button.alert
        Get Started Today!
