!!! 5
%html(lang="en-US")
  %head
    - if @title
      %title
        = @title
    - else
      %title Twilio SMS Vocabulary API Mashup App | Patrick Jones
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - if @metadescription
      %meta{:name => 'description', :content => "#{@metadescription}"}
    - else
      %meta{:name => 'description', :content => "Patrick Jones is a bilingual Ruby on Rails developer who loves Chinese food, beef jerky, yerba mate, and fiddling with new APIs."}
    %script{:type => "cs", :src  => "js/application"}
    %link{:src => "/css/foundation.css", :rel => 'stylesheet', :type => 'text/css'}
    %link{:src => "/css/foundation.min.css", :rel => 'stylesheet', :type => 'text/css'}
    %link{:src => "/css/normalize.css", :rel => 'stylesheet', :type => 'text/css'}

    / = csrf_meta_tag
    / = javascript_include_tag "vendor/modernizr"
    / = stylesheet_link_tag "application"
    /%link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css')
  %body
    %header
      /= render ''
    %section
      /= render ''
      = yield
    %footer
      %script{:type => "text/javascript", :src  => "js/foundation.min.js"}