.row
  .small-12.column
    %h2
      Hey
      = @user.name
    %hr
.row
  .small-12.column
    -@user.definitions.each do |query|
      .small-4.column
        %h4{class: 'button radius info', style: 'width: 300px;'}
          =query.word
          |
          =query.definition
.row
  .small-12.column
    %hr
    %p Powered by the Twilio API and Dictionary API
