.absolute {
  position: absolute;
}

.homepage-image{
  opacity: .8;
}

.homepage-title {
  color: white;
  background: rgba(0,0,0,.3);
  padding: 25px 10px;
}

.homepage-bullet {
  font-size: 24px;
  font-weight: 200;
}

.thick-title {
  font-weight: bold;
  display: inline-block;
}

.thin-title {
  font-weight: 200;
  display: inline-block;
}

.tiny {
  font-size: 12px;
}

.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.35em;
  left: -0.35em;
  margin-right: -5px;
}

.pull-left {
  text-align: left;
}

.push-down {
  padding-top: 15%;
}

.centered {
  text-align: center;
}

/*COLORS*/

.white {
  color: white;
}

.orange {
  color: orange;
}