.absolute {
  position: absolute;
}

.homepage-image{
  opacity: .8;
}

.homepage-title {
  color: white;
  background: rgba(0,0,0,.4);
  padding: 25px 10px;
}

.thick-title {
  font-weight: bold;
  display: inline-block;
}

.thin-title {
  font-weight: 200;
  display: inline-block;
}

.push-down {
  padding-top: 100px;
}

.centered {
  text-align: center;
}

/*COLORS*/

.white {
  color: white;
}